@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --main-color: #8e64ad;
  --lighter-color: #ccaee0;
  --font: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
  --header-font-size: 40px;
  --middle-font-size: 18px;
  --small-font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font);
}

.wrapper {
  min-height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  height: 75vh;
  width: 40%;
  border: 6px solid var(--main-color);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

input {
  height: 60px;
  width: 100%;
  border-color: var(--main-color);
  border-radius: 30px;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  font-size: var(--middle-font-size);
}

.form-button {
  border: 2px solid var(--main-color);
  width: 35%;
  border-radius: 30px;
  background: var(--main-color);
  font-family: var(--font);
  font-size: var(--middle-font-size);
  color: white;
  margin: 0 auto;
}

.register {
  height: 60px;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}
