@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --main-color: #8e64ad;
  --font: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font);
}

.box {
  height: 75%;
  width: 40%;
  border: 6px solid var(--main-color);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  border-color: var(--main-color);
  border-radius: 30px;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.register {
  border: 4px solid var(--main-color);
  height: 10%;
  width: 35%;
  border-radius: 30px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
