@import "./common.css";

.header {
  font-size: var(--header-font-size);
}

input {
  margin-bottom: 1.5rem;
}

.login-buttons {
  display: flex;
  height: 60px;
}

.forgot {
  background-color: white !important;
  color: var(--main-color) !important;
}

.no-acc {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
