@import "./common.css";

.header {
  font-size: 3rem;
}

.form {
  height: 40%;
}

input {
  height: 25%;
  margin-bottom: 2rem;
}

.forgot {
  border: 2px solid var(--main-color);
  height: 7%;
  width: 35%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.forgot-text {
  color: var(--main-color);
}
