@import "./common.css";

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: var(--header-font-size);
}

input {
  margin-bottom: 1rem;
}
